<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Furniture Shop{% endblock %}</title>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
 integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        .card-body img {
            height: 300px;
        }
    </style>
</head>
<body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div style="margin-left: 50px;" class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">
            <img style="width: auto; height: 27px; text-align: center; margin: left;" src="{% static 'home.svg' %}">
</a>
        </li>
          {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Sing Up</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
          {% else %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'order-history' %}">
             <span>{{ request.user.username }}</span>
             </a>
          </li>

             <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          {% endif %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'cart_detail' %}">
              <img style="width: auto; height: 27px; text-align: center; margin: left;" src="{% static 'shopping-cart.png' %}">
          </a>
        </li>
        {% if request.user.is_superuser %}
          <a class="nav-link" href="{% url 'create' %}">Add</a>
      {% endif %}
      </ul>
         <a class="navbar-brand" href="{% url 'index' %}">
        <img style="width: 100px; height: 100px; margin-left: -470px;" src="{% static 'logo.jpeg' %}">
    </a>
      <form style="margin: right;" action="{% url 'search' %}" method="get" class="d-flex">
        <input name="q" class="form-control me-2" type="search" placeholder="Искать здесь" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Найти</button>
      </form>
    </div>
  </div>
</nav>
      </div>
    </nav>

    {% block content %} {% endblock %}



</body>
</html>